<div class="row">
  <div class="col-sm-12">
    <h2>Usage</h2>
    <div [innerHTML]="usage"></div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <h3>Select a single city</h3>
    <is-select #select1 [formControl]="select1Control" [allowClear]="true" [items]="items" (changed)="changed($event)" (selected)="selected($event)" (removed)="removed($event)" (typed)="typed($event)" placeholder="No city selected">
    </is-select>
    <button class="btn btn-primary" (click)="selectLondon()">Select London</button>
    <button class="btn btn-primary" (click)="selectUnknown()">Select Unknown</button>
  </div>
  <div class="col-sm-6">
    <h3>Select a single city</h3>
    <is-select [allowClear]="true" [formControl]="select2Control" [items]="colors" (changed)="changed($event)" (selected)="selected($event)" (removed)="removed($event)" (typed)="typed($event)" placeholder="No color selected">
      <ng-template is-select-option let-item>
        <div [style.background]="item.source.background">{{item.Value}} (option)</div>
      </ng-template>
      <ng-template is-select-selection let-item>
        <div [style.background]="item.source.background">{{item.Value}} (selected)</div>
      </ng-template>
    </is-select>
    <button class="btn btn-primary" (click)="selectGreen()">Select green</button>
    <button class="btn btn-primary" (click)="loadMore()">Load Items</button>
  </div>
  <div class="col-sm-6">
    <h3>Select a single color (lazy load search)</h3>
    <is-select [allowClear]="true" [minLoadChars]="2" [items]="colors$ | async" (loadOptions)="loadMoreAsync()" (changed)="changed($event)" (selected)="selected($event)" (removed)="removed($event)" (typed)="typed($event)" placeholder="No color selected">
      <ng-template is-select-option let-item>
        <div [style.background]="item.source.background">{{item.Value}} (option)</div>
      </ng-template>
      <ng-template is-select-selection let-item>
        <div [style.background]="item.source.background">{{item.Value}} (selected)</div>
      </ng-template>
    </is-select>
  </div>
  <div class="col-sm-6">
    <h3>Select with groups including disabled items</h3>
    <is-select #select3 [formControl]="select3Control" [allowClear]="true" [items]="itemsGrouped" (changed)="changed($event)" (selected)="selected($event)" (removed)="removed($event)" (typed)="typed($event)" placeholder="No item selected"></is-select>
    <button class="btn btn-primary" (click)="selectNetherlands()">Select Netherlands</button>
  </div>

</div>
<div class="row">
  <div class="col-sm-6">
    <h3>Select Color</h3>
    <is-select-color [allowClear]="true"></is-select-color>
  </div>
  <div class="col-sm-6">
    <h3>Select Color (no lables)</h3>
    <is-select-color [allowClear]="true" [showLabel]="false" [isSearch]="false"></is-select-color>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <h3>Select model (colors)</h3>
    <is-select [allowClear]="true" [items]="colors" [formControl]="select4Control"  [modelConfig]="{idProp: 'Data', textProp: 'Name'}"></is-select>
    <button class="btn btn-primary" (click)="loadMore()">Load Items</button>
    <button class="btn btn-primary" (click)="selectGreenModel()">Select green (model)</button>
    <p>Value: {{select4Control.valueChanges|async|json}}</p>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <h3>Select (with badges)</h3>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <is-select-badge [formControl]="select5Control" [allowClear]="true" [items]="itemsBadges"> </is-select-badge>
  </div>
</div>
