<div class="row">
  <div class="col-sm-12">
    <h2>Usage</h2>
    <div [innerHTML]="usage"></div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <h3>Select a single city</h3>
    <is-select #select1 [formControl]="select1Control" [allowClear]="true" [items]="items" (changed)="changed($event)" (selected)="selected($event)" (removed)="removed($event)" (typed)="typed($event)" placeholder="No city selected">
    </is-select>
    <button class="btn btn-primary" (click)="selectLondon()">Select London</button>
    <button class="btn btn-primary" (click)="selectUnknown()">Select Unknown</button>
  </div>
  <div class="col-sm-6">
    <h3>Select a single city</h3>
    <is-select [allowClear]="true" [formControl]="select2Control" [items]="colors" (changed)="changed($event)" (selected)="selected($event)" (removed)="removed($event)" (typed)="typed($event)" placeholder="No color selected">
      <ng-template is-select-option let-item>
        <div [style.background]="item.source.background">{{item.Value}} (option)</div>
      </ng-template>
      <ng-template is-select-selection let-item>
        <div [style.background]="item.source.background">{{item.Value}} (selected)</div>
      </ng-template>
    </is-select>
    <button class="btn btn-primary" (click)="selectGreen()">Select green</button>
    <button class="btn btn-primary" (click)="loadMore()">Load Items</button>
  </div>
  <div class="col-sm-6">
    <h3>Select with groups</h3>
    <is-select #select3 [formControl]="select3Control" [allowClear]="true" [items]="itemsGrouped" (changed)="changed($event)" (selected)="selected($event)" (removed)="removed($event)" (typed)="typed($event)" placeholder="No item selected">
    </is-select>
  </div>
</div>
