<div class="row">
  <div class="col-sm-12">
    <h2>Usage</h2>
    <div [innerHTML]="usage"></div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <h3>SelectPicker (default)</h3>
  </div>
  <div class="col-sm-6">
    <h3>SelectPicker (search)</h3>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <is-selectpicker [options]="options" [xeStyle]="false"></is-selectpicker>
  </div>
  <div class="col-sm-6">
    <is-selectpicker [options]="moreOptions" [xeStyle]="false"></is-selectpicker>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <h3>SelectPicker (lazy load options)</h3>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <is-selectpicker [formControl]="control1" [options]="options$ | async" [xeStyle]="false"></is-selectpicker>

  </div>
  <div class="col-sm-6">
    <button class="btn btn-default" (click)="loadOptions()">Load options</button>
    <button class="btn btn-default" (click)="control1.setValue(['D'])">Select Item D</button>
    <div *ngIf="control1.valueChanges | async as value">{{ value | json}}</div>
  </div>
</div>


<div class="row">
  <div class="col-sm-6">
    <h3>SelectPicker (lazy load search)</h3>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <is-selectpicker [formControl]="control2" [useModels]="true" [minLoadChars]="3" [options]="moreOptions$ | async" [xeStyle]="false" (loadOptions)="onOptionsRequired($event)"></is-selectpicker>
  </div>
  <div class="col-sm-6">
    <button class="btn btn-default" (click)="control2.setValue([{ID: 6, Value: 'aaabb'}])">Select aaabb</button>
    <div *ngIf="control2.valueChanges | async as value">{{ value | json}}</div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <h3>SelectPicker (with badges)</h3>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <is-selectpicker-badge [formControl]="controlBadges" [useModels]="true" [options]="optionsBadges" [xeStyle]="true"></is-selectpicker-badge>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <h3>SelectPicker (with badges)</h3>
  </div>
</div>
