<div class="row">
  <div class="col-sm-12">
    <h2>Usage</h2>
    <div [innerHTML]="usage"></div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <h3>Date Picker</h3>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <is-datepicker [formControl]="control" [alignment]="'right'" [allowClear]="true"></is-datepicker>
    <button class="btn btn-primary pull-right" (click)="onClearDate()" style="margin-top: 5px;">Clear date</button>
    <button class="btn btn-primary" (click)="toggleInvalid()">Invalid</button>
    <button class="btn btn-primary" (click)="toggleDisabled()">Disable</button>
  </div>
  <div class="col-sm-6 datepicker-colors">
    <is-datepicker viewFormat="dd. MM. yyyy"></is-datepicker>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <h3>Date Picker inline</h3>
  </div>
  <div class="col-sm-6">
    <h3>Date Picker inline (config minDate)</h3>
  </div>
  <div class="col-sm-6">
    <is-datepicker-inline [formControl]="control"></is-datepicker-inline>
  </div>
  <div class="col-sm-6">
    <is-datepicker-inline [formControl]="control" [config]="config"></is-datepicker-inline>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <p>Value: {{control.valueChanges | async}}</p>
  </div>
</div>
<div style="height: 100vh;"></div>
<div class="row">
  <div class="col-sm-2">
    <is-datepicker [formControl]="control" [alignment]="'right'" [allowClear]="true"></is-datepicker>
    <button class="btn btn-primary pull-right" (click)="onClearDate()" style="margin-top: 5px;">Clear date</button>
    <button class="btn btn-primary" (click)="toggleInvalid()">Invalid</button>
  </div>
  <div class="col-sm-8"></div>
  <div class="col-sm-2 datepicker-colors">
    <is-datepicker></is-datepicker>
  </div>
</div>

