<div class="row">
  <div class="col-sm-12">
    <h2>Usage</h2>
    <div [innerHTML]="usage"></div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <h3>Date Picker</h3>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <is-datepicker [readonly]="readonly" [formControl]="control" [alignment]="'right'" [allowClear]="true"></is-datepicker>
    <div style="margin-top: 5px;">
      <button class="btn btn-primary pull-right" (click)="onClearDate()">Clear date</button>
      <button class="btn btn-primary" (click)="toggleInvalid()">Invalid</button>
      <button class="btn btn-primary" (click)="toggleDisabled()">Disable</button>
      <button class="btn btn-primary" (click)="toggleReadOnly()">Read only</button>
      <button class="btn btn-primary" (click)="setTomorrow(control)">Set tomorrow</button>
    </div>
  </div>
  <div class="col-sm-6 datepicker-colors">
    <is-datepicker [readonly]="readonly" viewFormat="dd. MM. yyyy"></is-datepicker>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>Value: {{control.valueChanges | async}}</p>
    <p>Value UTC: {{(control.valueChanges | async)?.toISOString()}}</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <h3>Date Picker (stringMode)</h3>
  </div>
  <div class="col-sm-6">
    <h3>Date Picker (localDateMode)</h3>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <is-datepicker [formControl]="control2" [stringMode]="true" [allowClear]="true"></is-datepicker>
    <div style="margin-top: 5px;">
      <button class="btn btn-primary" (click)="setTomorrow(control2)">Set tomorrow</button>
    </div>
  </div>
  <div class="col-sm-6">
    <is-datepicker [formControl]="control3" [localDateMode]="true" [allowClear]="true"></is-datepicker>
    <div style="margin-top: 5px;">
      <button class="btn btn-primary" (click)="setTomorrow(control3)">Set tomorrow</button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <p>Value: {{control2.valueChanges | async}}</p>
  </div>
  <div class="col-sm-6">
    <p>Value: {{control3.valueChanges | async}}</p>
    <p>Value UTC: {{(control3.valueChanges | async)?.toISOString()}}</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <h3>Date Picker inline</h3>
  </div>
  <div class="col-sm-6">
    <h3>Date Picker inline (config minDate)</h3>
  </div>
  <div class="col-sm-6">
    <is-datepicker-inline [formControl]="control"></is-datepicker-inline>
  </div>
  <div class="col-sm-6">
    <is-datepicker-inline [formControl]="control" [config]="config"></is-datepicker-inline>
  </div>
</div>


<div style="height: 100vh;"></div>
<div class="row">
  <div class="col-sm-2">
    <is-datepicker [formControl]="control" [alignment]="'right'" [allowClear]="true"></is-datepicker>
    <button class="btn btn-primary pull-right" (click)="onClearDate()" style="margin-top: 5px;">Clear date</button>
    <button class="btn btn-primary" (click)="toggleInvalid()">Invalid</button>
  </div>
  <div class="col-sm-8"></div>
  <div class="col-sm-2 datepicker-colors">
    <is-datepicker></is-datepicker>
  </div>
</div>

