<div class="row">
  <div class="col-sm-12">
    <h2>Usage</h2>
    <div [innerHTML]="usage"></div>
    <is-switch (change)="small = $event.checked">Regular / Small</is-switch>
  </div>
</div>
<is-tabset>
  <is-tab title="Single Select">
    <ng-template TabContent>
      <div class="row">
        <div class="col-sm-6">
          <h3>Select a single city align right</h3>
          <is-select #select1 [alignment]="'right'"  icon="fa fa-user" class="select-with-some-class" [class.is-input-small]="small" [formControl]="select1Control"
            [placeholderShow]="false" [allowClear]="true" [items]="items" (changed)="changed($event)"
            placeholder="No city selected">
          </is-select>
          <button class="btn btn-primary" (click)="selectLondon()">Select London</button>
          <button class="btn btn-primary" (click)="selectUnknown()">Select Unknown</button>
          <button class="btn btn-primary" (click)="toggleDisable()">Disable</button>
          <button class="btn btn-primary" (click)="toggleInvalid(select1Control)">Invalid</button>
        </div>
        <div class="col-sm-3">
          <h3>Select with overflowOptions</h3>
          <is-select [optionsOverflowWidth]="true" [alignment]="'right'" [class.is-input-small]="small" class="select-with-some-class" [formControl]="select1Control"
            [placeholderShow]="false" [allowClear]="true" [items]="items" (changed)="changed($event)"
            placeholder="No city selected">
          </is-select>
        </div>
        <div class="col-sm-6">
          <h3>Select color - load items</h3>
          <is-select [allowClear]="true" [class.is-input-small]="small" [formControl]="select2Control" [items]="colors" (changed)="changed($event)"
            placeholder="No color selected">
            <ng-template is-select-option let-item>
              <div [style.background]="item.source.background">{{item.Value}} (option)</div>
            </ng-template>
            <ng-template is-select-selection let-item>
              <div [style.background]="item.source.background">{{item.Value}} (selected)</div>
            </ng-template>
          </is-select>
          <button class="btn btn-primary" (click)="selectGreen()">Select green</button>
          <button class="btn btn-primary" (click)="loadMore()">Load Items</button>
        </div>
        <div class="col-sm-6">
          <h3>Select a single color (lazy load search)</h3>
          <is-select [allowClear]="true" [class.is-input-small]="small" [minLoadChars]="2" [items]="colors$ | async" (loadOptions)="loadMoreAsync()"
            (changed)="changed($event)" placeholder="No color selected">
            <ng-template is-select-option let-item>
              <div [style.background]="item.source.background">{{item.Value}} (option)</div>
            </ng-template>
            <ng-template is-select-selection let-item>
              <div [style.background]="item.source.background">{{item.Value}} (selected)</div>
            </ng-template>
          </is-select>
        </div>
        <div class="col-sm-6">
          <h3>Select model (lazy load)</h3>
          <is-select [allowClear]="true" [class.is-input-small]="small" [minLoadChars]="0" (loadOptions)="onOptionsRequired($event)"
            [items]="moreOptions$ | async" [formControl]="select6Control"
            [modelConfig]="{idProp: 'ID', textProp: 'Value'}">
          </is-select>
          <button class="btn btn-primary" (click)="selectFirstModel()">Select unknown (model)</button>
          <p>Value: {{select6Control.valueChanges|async|json}}</p>
        </div>
        <div class="col-sm-6">
          <h3>Select with descriptions (close options on scroll)</h3>
          <is-select [allowClear]="true" [class.is-input-small]="small" [closeOptionsOnScroll]="true"
            [items]="itemsWithDesc" [formControl]="select7Control"
            [modelConfig]="{idProp: 'ID', textProp: 'Value', descProp: 'Description'}">
          </is-select>
          <p>Value: {{select7Control.valueChanges|async|json}}</p>
        </div>
        <div class="col-sm-6">
          <h3>Readonly select</h3>
          <is-select [items]="items" [class.is-input-small]="small" [formControl]="select1Control" [allowClear]="true" [allowHide]="true" [readonly]="true">
          </is-select>
        </div>
      </div>

    </ng-template>
  </is-tab>

  <is-tab title="Multi Select">
    <ng-template TabContent>
      <div class="row">
        <div class="col-sm-6">
          <h3>Select multiple cities</h3>
          <is-select [multipleConfig]="{showButtons: true}" icon="fa fa-user" [class.is-input-small]="small" [formControl]="select1Control" [placeholderShow]="false" [allowClear]="true"
            [items]="items" (changed)="changed($event)" placeholder="0 cities selected">
          </is-select>
        </div>
        <div class="col-sm-6">
          <h3>Select multiple cities (fixed height)</h3>
          <is-select [multipleConfig]="{showButtons: true}" icon="fa fa-user" [class.is-input-small]="small" [resize]="false" [formControl]="select1Control" [placeholderShow]="false"
            [allowClear]="true" [items]="items" (changed)="changed($event)" placeholder="0 cities selected">
          </is-select>
        </div>
        <div class="col-sm-6">
          <h3>Select multiple model (lazy load)</h3>
          <is-select [allowClear]="true" [class.is-input-small]="small" [multipleConfig]="{}" [minLoadChars]="3" (loadOptions)="onOptionsRequired($event)"
            [items]="moreOptions$ | async" searchPlaceholder="type: aaa" [formControl]="select6ControlMulti"
            [modelConfig]="{idProp: 'ID', textProp: 'Value'}" (changed)="changed($event)"></is-select>
          <button class="btn btn-primary" (click)="selectUnknownModelMulti()">Select unknown (model)</button>
          <button class="btn btn-primary" (click)="selectFirstModelMulti()">Select first (model)</button>
          <p>Value: {{select6ControlMulti.valueChanges|async|json}}</p>
        </div>
        <div class="col-sm-6">
          <h3>[unsetNoMatch]=false</h3>
          <is-select [multipleConfig]="{showButtons: true}" [unsetNoMatch]="false" [class.is-input-small]="small" [resize]="false" [formControl]="select8Control" [placeholderShow]="false"
            [allowClear]="true" [useModels]="true" [items]="moreOptions$ | async" (changed)="changed($event)" searchPlaceholder="type: aaa" [minLoadChars]="2" (loadOptions)="onOptionsRequired($event)">
          </is-select>
          <p>Value: {{select8Control.valueChanges|async|json}}</p>
          <button (click)="select8Control.setValue([{ID: 'XXX', Value: 'XXX'}])">Set XXX</button>
          <button (click)="select8Control.setValue([{ID: 'XXX', Value: 'XXX'}, {ID: 1, Value: 'aaaa'}])">Set XXX, aaaa</button>
        </div>
        <div class="col-sm-6">
          <h3>[unsetNoMatch]=true</h3>
          <is-select [multipleConfig]="{showButtons: true}" [unsetNoMatch]="true" [class.is-input-small]="small" [resize]="false" [formControl]="select9Control" [placeholderShow]="false"
            [allowClear]="true" [useModels]="true" [items]="moreOptions$ | async" (changed)="changed($event)" searchPlaceholder="type: aaa" [minLoadChars]="2" (loadOptions)="onOptionsRequired($event)">
          </is-select>
          <p>Value: {{select9Control.valueChanges|async|json}}</p>
          <button (click)="select9Control.setValue([{ID: 'XXX', Value: 'XXX'}])">Set XXX</button>
          <button (click)="select9Control.setValue([{ID: 'XXX', Value: 'XXX'}, {ID: 1, Value: 'aaaa'}])">Set XXX, aaaa</button>
        </div>
      </div>
    </ng-template>
  </is-tab>


  <is-tab title="Item Groups">
    <ng-template TabContent>
      <div class="row">
        <div class="col-sm-6">
          <h3>Groups including disabled items</h3>
          <is-select #select3 [formControl]="select3Control" [class.is-input-small]="small" [allowClear]="true" [items]="itemsGrouped"
            (changed)="changed($event)" placeholder="No item selected"></is-select>
          <button class="btn btn-primary" (click)="selectNetherlands()">Select Netherlands</button>
        </div>
        <div class="col-sm-6">
          <h3>Delayed load</h3>
          <is-select #select3 [formControl]="select3Control" [class.is-input-small]="small" [allowClear]="true" [items]="itemsGrouped$ | async"
            (changed)="changed($event)" placeholder="No item selected"></is-select>
          <button class="btn btn-primary" (click)="selectNetherlands()">Select Netherlands</button>
          <button class="btn btn-primary" (click)="loadItemsGrouped()">Load Items</button>
        </div>
        <div class="col-sm-6">
          <h3>Groups multi select</h3>
          <is-select [formControl]="select3Control" [class.is-input-small]="small" [multipleConfig]="{showButtons: true}" [allowClear]="true" [items]="itemsGrouped"
            (changed)="changed($event)" placeholder="No item selected"></is-select>
          <button class="btn btn-primary" (click)="selectNetherlands()">Select Netherlands</button>
        </div>
        <div class="col-sm-6">
          <h3>Groups lazy load (search)</h3>
          <is-select [formControl]="select3Control" [class.is-input-small]="small" [minLoadChars]="2" [isSearch]="true" [allowClear]="true" [items]="itemsGrouped$ | async"
            (changed)="changed($event)" (loadOptions)="loadItemsGrouped()" placeholder="No item selected"></is-select>
        </div>
        <div class="col-sm-6">
          <h3>Groups multi select delayed load</h3>
          <is-select [formControl]="select3Control" [class.is-input-small]="small" [multipleConfig]="{showButtons: true}" [allowClear]="true" [items]="itemsGrouped$ | async"
                     (changed)="changed($event)" placeholder="No item selected"></is-select>
          <button class="btn btn-primary" (click)="selectNetherlands()">Select Netherlands</button>
          <button class="btn btn-primary" (click)="loadItemsGrouped()">Load Items</button>
        </div>
      </div>
    </ng-template>
  </is-tab>

  <is-tab title="Select Color">
    <ng-template TabContent>
      <div class="row">
        <div class="col-sm-6">
          <h3>Select Color</h3>
          <is-select-color [allowClear]="true" [selectClass]="small ? 'is-input-small' : ''" [formControl]="selectColorControl" (valueChange)="changed($event)"></is-select-color>
        </div>
        <div class="col-sm-6">
          <h3>Select Color (no lables)</h3>
          <is-select-color [allowClear]="true" [selectClass]="small ? 'is-input-small' : ''" [showLabel]="false" [isSearch]="false" (valueChange)="changed($event)">
          </is-select-color>
        </div>
        <div class="col-sm-6">
          <h3>Select model (colors)</h3>
          <is-select [allowClear]="true" [items]="colors" [class.is-input-small]="small" [formControl]="select4Control" (changed)="changed($event)"
            [modelConfig]="{idProp: 'Data', textProp: 'Name', 'baseModel':{'baseModelProp':'baseModelPropValue'}}">
          </is-select>
          <button class="btn btn-primary" (click)="loadMore()">Load Items</button>
          <button class="btn btn-primary" (click)="selectGreenModel()">Select green (model)</button>
          <p>Value: {{select4Control.valueChanges|async|json}}</p>
        </div>
        <div class="col-sm-6">
          <h3>Select multiple model (colors)</h3>
          <is-select [allowClear]="true" [multipleConfig]="{}" [class.is-input-small]="small" [items]="colors" [formControl]="select4ControlMulti"
            (valueChange)="changed($event)"
            [modelConfig]="{idProp: 'Data', textProp: 'Name', 'baseModel':{'baseModelProp':'baseModelPropValue'}}">
          </is-select>
          <button class="btn btn-primary" (click)="loadMore()">Load Items</button>
          <button class="btn btn-primary" (click)="selectGreenModelMulti()">Select green (model)</button>
          <p>Value: {{select4Control.valueChanges|async|json}}</p>
        </div>
      </div>
    </ng-template>
  </is-tab>

  <is-tab title="Select Badge">
    <ng-template TabContent>
      <div class="row">
        <div class="col-sm-6">
          <h3>Select (with badges)</h3>
          <is-select-badge class="light-gray" [selectClass]="small ? 'is-input-small' : ''" [formControl]="select5Control" [allowClear]="true" [items]="itemsBadges"
            (valueChange)="changed($event)"> </is-select-badge>
        </div>
        <div class="col-sm-6">
          <h3>Select multiple (with badges)</h3>
          <is-select-badge [formControl]="select5ControlMulti" [selectClass]="small ? 'is-input-small' : ''" [multiple]="true" [useModels]="true" [allowClear]="true" [items]="itemsBadges"
            (valueChange)="changed($event)">
          </is-select-badge>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <h3>Custom badge</h3>
          <is-select-badge class="light-gray" [selectClass]="small ? 'is-input-small' : ''" [formControl]="select5Control" [allowClear]="true" [items]="customBadges"
            (valueChange)="changed($event)"> </is-select-badge>
        </div>
        <div class="col-sm-6">
          <h3>Custom badge (multiple)</h3>
          <is-select-badge [formControl]="select5ControlMulti" [selectClass]="small ? 'is-input-small' : ''" [multiple]="true" [useModels]="true" [allowClear]="true" [items]="customBadges"
            (valueChange)="changed($event)">
          </is-select-badge>
        </div>
      </div>
    </ng-template>
  </is-tab>

  <is-tab title="Inside scrollable area">
    <ng-template TabContent>
      <div style="overflow: auto; height: 300px;" cdkScrollable>
        <div style="height: 100vh;"></div>
      <div class="row">
        <div class="col-sm-6">
          <is-select class="select-with-some-class" [class.is-input-small]="small" [formControl]="select1Control" [placeholderShow]="false"
      [allowClear]="true" [items]="items" (changed)="changed($event)" placeholder="No city selected">
    </is-select>
        </div>
        </div>
      </div>
    </ng-template>
  </is-tab>

</is-tabset>

<div style="height: 100vh;"></div>
<div class="row">
  <div class="col-sm-6">
    <h3>Select on page bottom</h3>
    <is-select class="select-with-some-class" [class.is-input-small]="small" [formControl]="select1Control" [placeholderShow]="false"
      [allowClear]="true" [items]="items" (changed)="changed($event)" placeholder="No city selected">
    </is-select>
  </div>

</div>
