<div class="row">
  <div class="col-sm-12">
    <h2>Usage</h2>
    <div [innerHTML]="usage"></div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <h2>Modals</h2>
    <button class="btn btn-primary" (click)="openModal(modalContent)">Default</button>
    <button class="btn btn-primary" (click)="openModal(modalContentLarge)">Body Scroll</button>

  </div>
  <div class="col-sm-6">
    <h2>Dialogs</h2>
    <button class="btn btn-primary" (click)="openDialog1()">Without Header</button>
    <button class="btn btn-primary" (click)="openDialog2()">Body only</button>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <h2>Movable Modal (template)</h2>
    <button class="btn btn-primary" (click)="openMovableModal(modalContent)">Default</button>
    <button class="btn btn-primary" (click)="openMovableModal(modalContentLarge)">Body Scroll</button>
    <button class="btn btn-primary" (click)="closeMovableModal()">Close</button>
  </div>

  <div class="col-sm-6">
    <h2>Movable Modal (component)</h2>
    <button class="btn btn-primary" (click)="openMovableComponentModal()">Default</button>
  </div>
</div>

<ng-template #modalContent let-modal="modal">
  Content to be displayed in modal ....<br>
  Content can access to modal properties like title: <strong>{{modal.title}}</strong><br>
  Content can even close the modal via <button class="btn btn-default" (click)="modal.modalRef.close()">modalRef.hide()</button>

</ng-template>

<ng-template #modalContentLarge>
  <div *ngIf="largeContent$ | async as content; else loading" [innerHTML]="content"></div>
</ng-template>
<ng-template #loading>
  Content is loading ...
</ng-template>
