<div style="padding: 10%" class="row">
  <div style="width: 300px; margin-bottom: 20px;" class="col-sm-6">
    <h3>Select a single city</h3>
    <is-select [allowClear]="true" [items]="items" [disabled]="disabled" (data)="refreshValue($event)" (selected)="selected($event)" (removed)="removed($event)" (typed)="typed($event)" placeholder="No city selected">
    </is-select>
  </div>

  <div style="width: 300px; margin-bottom: 20px;" class="col-sm-6">
    <h3>Select a single city</h3>
    <is-select [allowClear]="true" [items]="itemsObject" [disabled]="disabled" (data)="refreshValue($event)" (selected)="selected($event)" (removed)="removed($event)" (typed)="typed($event)" placeholder="No city selected">
      <ng-template is-select-option let-item>
        <div [style.background]="item.source.background">{{item.text}} (jooo)</div>
      </ng-template>
    </is-select>
  </div>
</div>
