<div class="row">
  <div class="col-sm-12">
    <h2>Usage</h2>
    <div [innerHTML]="usage"></div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <h2>Tile</h2>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <is-tile icon="fa fa-user" label="Tile label"></is-tile>
    <is-tile icon="fa fa-beer" label="A little bit longer label"></is-tile>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <h2>Input</h2>
  </div>

  <div class="col-sm-12">
    <input type="text" class="form-control is-input" />
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <h2>Checkbox</h2>
  </div>
  <div class="col-sm-12">
    <is-checkbox [formControl]="checkboxControl" [indeterminate]="checkboxIndeterminate">
      Checkbox value
    </is-checkbox>
    <is-checkbox [formControl]="checkboxControl" [indeterminate]="checkboxIndeterminate">
      Checkbox value
    </is-checkbox>
    <button (click)="toggleCheckboxValue()">Toggle Value</button>
    <button (click)="intermediateCheckboxValue()">Intermediate</button>
    <button (click)="toggleDisabled(checkboxControl)">Disabled</button>
    <p>{{checkboxControl.valueChanges|async}}</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <h2>Radio</h2>
  </div>
  <div class="col-sm-12">
    <is-radio-group [formControl]="radioGroupControl">
      <is-radio value="1">
        Radio 1
      </is-radio>
      <is-radio value="2">
        Radio 2
      </is-radio>
    </is-radio-group>
    <button (click)="toggleRadioValue()">Toggle Value</button>
    <button (click)="toggleDisabled(radioGroupControl)">Disabled</button>
    <p>{{radioGroupControl.valueChanges|async}}</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <h2>Switch</h2>
  </div>
  <div class="col-sm-12">
    <is-switch [formControl]="switchControl">
      Switch value
    </is-switch>
    <button (click)="toggleSwitchValue()">Toggle value</button>
    <button (click)="toggleDisabled(switchControl)">Disabled</button>
    <p>{{switchControl.valueChanges|async}}</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <h2>Search</h2>
  </div>

  <div class="col-sm-12">
    <is-search [placeholder]="'Search placeholder'"></is-search>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <h3>Type password and click on the eye</h3>
    <is-password [formControl]="passwordControl" [autocomplete]="'off'" [placeholder]="'This is placeholder...'">
    </is-password>
    <button (click)="toggleInvalid(passwordControl)">Toggle Invalid</button>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <h2>Breadcrumb Box</h2>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 tiles">
    <!-- breadcrumbs MUST be rendered within parent having "tiles" class -->
    <is-breadcrumb-box [breadcrumb]="{id:'1', icon:'fa fa-user', name: 'breadcrumb'}"></is-breadcrumb-box>
    <is-breadcrumb-box bgClass="bg-red-thunderbird" [breadcrumb]="{id:'1', icon:'fa fa-user', name: 'breadcrumb'}">
    </is-breadcrumb-box>
    <is-breadcrumb-box [count]="666" [breadcrumb]="{id:'2', icon:'fa fa-home', name: 'breadcrumb', route:['/']}">
    </is-breadcrumb-box>
    <is-breadcrumb-box [count]="123" [breadcrumb]="{id:'3', name: 'Breadcrumb without icon', route:['/']}">
    </is-breadcrumb-box>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <h2>Portlet</h2>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <is-portlet [enableCollapse]="true" heading="Collapsible Portlet">
      <div class="portlet-body">
        Collapsible portlet body<br />
        Collapsible portlet body<br />
        Collapsible portlet body<br />
        Collapsible portlet body<br />
        Collapsible portlet body<br />
        Collapsible portlet body<br />
        Collapsible portlet body<br />
        Collapsible portlet body<br />
        Collapsible portlet body<br />
        Collapsible portlet body<br />
      </div>
    </is-portlet>
  </div>
  <div class="col-sm-6">
    <is-portlet heading="Colored portlet with actions" icon="fa fa-user">
      <div class="actions">
        <a class="btn btn-circle btn-default btn-sm"><i class="fa fa-angle-up"></i> Close</a>
      </div>
      <div class="portlet-body">
        Portlet body
      </div>
    </is-portlet>
  </div>
  <div class="col-sm-6">
    <is-portlet>
      <ng-template is-portlet-title>
        <div class="caption">
          <a href="#" [routerLink]="['/']">Portlet with title template</a>
        </div>
      </ng-template>
      <div class="portlet-body">
        Portlet body
      </div>
    </is-portlet>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <h2>Section</h2>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <is-section heading="Section" [enableCollapse]="true" icon="fa fa-user">
      <div class="portlet-body">
        Section body<br />
        Section body<br />
        Section body<br />
        Section body<br />
        Section body<br />
        Section body<br />
      </div>
    </is-section>
  </div>
  <div class="col-sm-6">
    <is-section heading="Section with actions">
      <div class="actions">
        <i class="fa fa-close"></i>
      </div>
      <div class="portlet-body">
        Section body
      </div>
    </is-section>
  </div>
  <div class="col-sm-6">
    <is-section>
      <ng-template is-portlet-title>
        <div class="caption">
          <a href="#" style="color: white;" [routerLink]="['/']">Section with title template</a>
        </div>
      </ng-template>
      <div class="portlet-body">
        Section body
      </div>
    </is-section>
  </div>
  <div class="col-sm-6">
    <is-section [showHeader]="false">
      <ng-template is-portlet-title>
        <div class="caption">
          <a href="#" style="color: white;" [routerLink]="['/']">Section with title template</a>
        </div>
      </ng-template>
      <div class="portlet-body">
        Section without header
      </div>
    </is-section>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <h2>Tabs</h2>
    <button (click)="tabValid = !tabValid">Valid tab</button>
  </div>
  <div class="col-sm-6">
    <is-tabset>
      <ng-template TabsetInvalid><i class="fa fa-beer"></i></ng-template>
      <is-tab title="Tab 1" [valid]="tabValid" paneClass="custom-class">
        <ng-template TabContent>
          First tab content
        </ng-template>
      </is-tab>
      <is-tab>
        <ng-template TabTitle>
          Advanced tab title <i class="fa fa-home"></i>
        </ng-template>
        <ng-template TabContent>
          Second tab content
        </ng-template>
      </is-tab>
      <is-tab [valid]="tabValid">
        <ng-template TabTitle>
          Advanced tab title with quite long text <i class="fa fa-home"></i>
        </ng-template>
        <ng-template TabContent>
          Second tab content
        </ng-template>
      </is-tab>
    </is-tabset>
  </div>
</div>


<div class="row">
  <div class="col-sm-12">
    <h2>Tabs (lazy-loaded) + stretched</h2>
  </div>
</div>

<is-tabset [stretched]="true">
  <is-tab title="Tab 1" load="selected">
    <ng-template TabContent>
      ....
    </ng-template>
  </is-tab>
  <is-tab load="selected">
    <ng-template TabTitle>
      Advanced tab title <i class="fa fa-home"></i>
    </ng-template>
    <ng-template TabContent>
      ...
    </ng-template>
  </is-tab>
</is-tabset>

<div class="row">
  <div class="col-sm-12">
    <h2>Tabs (pills style)</h2>
  </div>
  <div class="col-sm-12">
    <is-tabset [pills]="true">
      <is-tab title="Tab 1">
        <ng-template TabContent>
          First tab content
        </ng-template>
      </is-tab>
      <is-tab>
        <ng-template TabTitle>
          Advanced tab title <i class="fa fa-home"></i>
        </ng-template>
        <ng-template TabContent>
          Second tab content
        </ng-template>
      </is-tab>
      <is-tab>
        <ng-template TabTitle>
          Advanced tab title with quite long text <i class="fa fa-home"></i>
        </ng-template>
        <ng-template TabContent>
          Second tab content
        </ng-template>
      </is-tab>
    </is-tabset>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <h2>Tab with sticky header</h2>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="sticky-tab-container">
      <is-tabset [scrollableMode]="'sticky-headers'">
        <ng-template TabsetInvalid><i class="fa fa-beer"></i></ng-template>
        <is-tab title="Tab 1">
          <ng-template TabContent>
            <p>Line 1</p>
            <p>Line 2</p>
            <p>Line 3</p>
            <p>Line 4</p>
            <p>Line 5</p>
            <p>Line 6</p>
          </ng-template>
        </is-tab>
        <is-tab>
          <ng-template TabTitle>
            Second tab really long name so that we can trigger overflow
          </ng-template>
          <ng-template TabContent>
            Second tab content
          </ng-template>
        </is-tab>
        <is-tab>
          <ng-template TabTitle>
            Third tab
          </ng-template>
          <ng-template TabContent>
            Third content
          </ng-template>
        </is-tab>
      </is-tabset>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <h2>Two Tabs with scrolling inside</h2>
  </div>
</div>

<div class="row tab-container-fixed-height">
  <div class="col-sm-6">
    <is-tabset id="tabLeft" [scrollableMode]="'scrollable-tabcontent'">
      <ng-template TabsetInvalid><i class="fa fa-beer"></i></ng-template>
      <is-tab title="Tab 1">
        <ng-template TabContent>
          <is-select [items]="selectItems" [closeOptionsOnScroll]="true"></is-select>
          <p>Line 1</p>
          <p>Line 2</p>
          <p>Line 3</p>
          <p>Line 4</p>
          <p>Line 5</p>
          <p>Line 6</p>
        </ng-template>
      </is-tab>
      <is-tab>
        <ng-template TabTitle>
          Second tab really long name so that we can trigger overflow
        </ng-template>
        <ng-template TabContent>
          Second tab content
        </ng-template>
      </is-tab>
      <is-tab>
        <ng-template TabTitle>
          Third tab
        </ng-template>
        <ng-template TabContent>
          Third content
        </ng-template>
      </is-tab>
    </is-tabset>
  </div>
  <div class="col-sm-6">
    <is-tabset id="tabRight" [scrollableMode]="'scrollable-tabcontent'">
      <ng-template TabsetInvalid><i class="fa fa-beer"></i></ng-template>
      <is-tab title="Tab 1">
        <ng-template TabContent>
          <is-datepicker></is-datepicker>
          <p>Line 1</p>
          <p>Line 2</p>
          <p>Line 3</p>
          <p>Line 4</p>
          <p>Line 5</p>
          <p>Line 6</p>
          <is-timepicker></is-timepicker>
        </ng-template>
      </is-tab>
      <is-tab>
        <ng-template TabTitle>
          Second tab really long name so that we can trigger overflow
        </ng-template>
        <ng-template TabContent>
          Second tab content
        </ng-template>
      </is-tab>
      <is-tab>
        <ng-template TabTitle>
          Third tab
        </ng-template>
        <ng-template TabContent>
          Third content
        </ng-template>
      </is-tab>
    </is-tabset>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <h2>Hint</h2>
  </div>
</div>
<label>Control label <is-hint [hint]="hint"></is-hint></label>

<div class="row">
  <div class="col-sm-12">
    <h2>Field Error</h2>
  </div>
</div>
<label>Type something and delete it: <is-field-error [iconOnly]="false" class="align-right" [control]="formControl1"></is-field-error></label>
<br>
<input type="text" [formControl]="formControl1">
<label>Type something and delete it: <is-field-error [instantTooltip]="true" [control]="formControl1"></is-field-error></label>
<br>
<input type="text" [formControl]="formControl1">
<br>
<p>You can use predefined validators from is-field-error.service or you can define custom.</p>
<label>Custom validator, input must contain word 'custom': <is-field-error [control]="formControl2"></is-field-error>
</label>
<br>
<input type="text" [formControl]="formControl2">
<br>

<div class="row">
  <div class="col-sm-12">
    <h2>Form fields validation</h2>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <label>required and number min = 10 and number max = 100: <is-field-error [iconOnly]="false" [control]="formControl3"></is-field-error></label>
    <br>
    <input type="number" [formControl]="formControl3">
  </div>
  <div class="col-sm-6">
    <label>min length = 3: <is-field-error [iconOnly]="false" [control]="formControl4"></is-field-error></label>
    <br>
    <input type="text" [formControl]="formControl4">
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <label>required and custom validator (input must contain word 'custom'): <is-field-error [iconOnly]="false" [control]="formControl5"></is-field-error></label>
    <br>
    <input type="text" [formControl]="formControl5">
  </div>
</div>
