<div class="row">
  <div class="col-sm-12">
    <h2>Usage</h2>
    <div [innerHTML]="usage"></div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <is-froala [options]="froalaConfig" [formControl]="control" (onCommand)="onFroalaCommand($event)"></is-froala>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <button (click)="enableCustomButtons()">Enable Custom Buttons</button>
    <button (click)="disableCustomButtons()">Disable Custom Buttons</button>
    <button (click)="toggleDisabled()">Toggle Disabled</button>
    <button class="btn btn-primary" (click)="toggleInvalid()">Invalid</button>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <h2>Localized to German</h2>
    <is-froala [options]="froalaConfigGerman" [formControl]="control" (onCommand)="onFroalaCommand($event)"></is-froala>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <h2>Disabled load on init - click for load</h2>
    <is-froala [options]="froalaConfig" [formControl]="control" [loadOnInit]="false" (onCommand)="onFroalaCommand($event)"></is-froala>
  </div>
</div>


<div class="row">
  <div class="col-sm-12">
    <h2>Disabled load on init - click for load with fixed height</h2>
    <is-froala [maxHeight]="150" [minHeight]="150" [formControl]="controlLong" [options]="froalaConfig" [loadOnInit]="false" (onCommand)="onFroalaCommand($event)"></is-froala>
  </div>
</div>
