<button (click)="loadContent()">Load Content</button>
<button (click)="enableCustomButtons()">Enable Custom Buttons</button>
<button (click)="disableCustomButtons()">Disable Custom Buttons</button>
<button (click)="toggleDisabled()">Toggle Disabled</button>


<is-tabset>
  <is-tab title="Usage">
    <ng-template TabContent>
      <div class="row">
        <div class="col-sm-12">
          <h2>Usage</h2>
          <div [innerHTML]="usage"></div>
        </div>
      </div>
    </ng-template>

  </is-tab>

  <is-tab title="Default">
    <ng-template TabContent>
      <div class="row">
        <div class="col-sm-12">
          <is-froala [options]="froalaConfig" [formControl]="control" (onCommand)="onFroalaCommand($event)"></is-froala>
        </div>
      </div>

    </ng-template>

  </is-tab>

  <is-tab title="Fixed height">
    <ng-template TabContent>
      <div class="row">
        <div class="col-sm-12">
          <h2>Disabled load on init - click for load with fixed height</h2>
          <is-froala [maxHeight]="150" [minHeight]="150" [formControl]="control" [options]="froalaConfig"
            [loadOnInit]="false" (onCommand)="onFroalaCommand($event)"></is-froala>
        </div>
      </div>

    </ng-template>

  </is-tab>

  <is-tab title="Localized to German">
    <ng-template TabContent>
      <div class="row">
        <div class="col-sm-12">
          <is-froala [options]="froalaConfigGerman" [formControl]="control" (onCommand)="onFroalaCommand($event)">
          </is-froala>
        </div>
      </div>

    </ng-template>

  </is-tab>

  <is-tab title="Disabled load on init">
    <ng-template TabContent>
      <div class="row">
        <div class="col-sm-12">
          <is-froala [options]="froalaConfig" [formControl]="control" [loadOnInit]="false" (onCommand)="onFroalaCommand($event)"></is-froala>
        </div>
      </div>

    </ng-template>

  </is-tab>

</is-tabset>
