<div class="row">
  <div class="col-sm-12">
    <h2>Usage</h2>
    <div [innerHTML]="usage"></div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <is-input-mapping [data]="currentDataset" [limitedFilterSet]="false" [filterValueFormatter]="formatter" [formControl]="formControl" [filtersAllowed]="filtersAllowed" [showOnlyFiltered]="showOnlyFiltered"></is-input-mapping>
  </div>
  <div class="col-sm-6">
    <span>Value: {{formControl.valueChanges | async | json}}</span>
  </div>
  <div class="col-sm-6">
    <button class="btn btn-primary" (click)="nullIt()">Select nothing</button>
    <button class="btn btn-primary" (click)="emptyMap()">Write empty map</button>
    <button class="btn btn-primary" (click)="toggleDisabled()">Disable</button>
    <button class="btn btn-primary" (click)="toggleShowOnlyFiltered()">Show only filtered</button>
    <button class="btn btn-primary" (click)="modified2Created()">Modified to Created</button>
    <button class="btn btn-primary" (click)="switchDataset()">Switch dataset</button>
    <button class="btn btn-primary" (click)="deleteDataset()">Delete dataset</button>
    <button class="btn btn-primary" (click)="filterFullpath()">Filter fullpath</button>
    <button class="btn btn-primary" (click)="switchFilters()">Switch filters</button>
    <button class="btn btn-primary" (click)="logState()">Log state</button>
  </div>
  <div class="col-sm-6">
    <span>{{validationError}}</span>
  </div>
</div>
