@import 'variables';

@mixin is-input-active {
  border-color: $is-control-boder-focus-color;
  box-shadow: 0px 0px 0px 1px $is-control-boder-focus-color;
  //border-width: 2px;
}

@mixin is-input-disabled {
  background-color: $is-control-disabled-bg-color;
  color: $is-control-disabled-fg-color;
  &:hover {
    border-color: $is-control-boder-color;
  }
  &:active, &:focus {
    background-color: $is-control-disabled-bg-color;
    color: $is-control-disabled-fg-color;
    box-shadow: none;
    border-color:$is-control-boder-color;
  }
}

@mixin is-input-readonly {
  background-color: $is-control-readonly-bg-color;
  color: $is-control-readonly-fg-color;
  border-width: $is-control-readonly-border-width;
  border-color: $is-control-readonly-border-color;
  height: auto;
  &:hover {
    border-color: $is-control-readonly-border-color;
  }
  &:active, &:focus {
    border-color: $is-control-readonly-border-color;
    box-shadow: none;
  }
}

@mixin is-input {
  border-color:$is-control-boder-color;
  background-color: $is-control-bg-color;
  color: $is-control-fg-color;
  padding: 4px 8px;
  height: $is-input-height-regular;
  line-height: $is-input-height-regular;
  font-size: 14px;
  &.is-input-small {
    @include is-input-small();
  }
    &::placeholder {
      color: $is-control-placeholder-color;
    }
    &:hover {
      border-color: $is-control-boder-hover-color;
    }

    &:active, &:focus, &:focus-within {
      background-color: $is-control-bg-color;
      color: $is-control-fg-color;
      @include is-input-active;
    }
}

@mixin is-input-small {
  height: $is-input-height-small;
  line-height: $is-input-height-small;
}

@mixin is-input-invalid {
  // border-color: $is-control-invalid-border-color;
  // color: $is-control-invalid-fg-color;
}

@mixin short-scroll($color: rgb(187, 187, 187)) {
  &::-webkit-scrollbar {
    height: $is-general-padding-small;
    width:  $is-general-padding-small; //background: #fff;
  }
  &::-webkit-scrollbar-thumb {
    background: $color;
  }
  &::-webkit-scrollbar-corner {
    background: #fff;
  }
  @media print {
    &::-webkit-scrollbar-thumb {
      background: transparent;
    }
  }
}

@mixin modal-footer-buttons {
  display: flex;
  width: 100%;
  .divider {
    flex-grow: 1;
  }

  button {
    &.is-btn-right {
      margin-left: $is-general-padding;
    }

    &.is-btn-left {
      margin-right: $is-general-padding;
    }

  }
}
