@import 'variables';

@mixin is-input-active {
  border-color: $color-border-focus;
  box-shadow: 0px 0px 2px 0px $color-border-focus !important;
}

@mixin is-input {
  border-color:$color-border;
  background-color: $color-bg;
  color: $color-fg;

  &:hover {
    border-color: $color-border-hover;
  }

  &:active, &:focus {
    @include is-input-active;
  }
  &.ng-invalid {
    border-color: $color-invalid;
  }
}




@mixin short-scroll {
  &::-webkit-scrollbar {
    height: 8px;
    width: 8px; //background: #fff;
  }
  &::-webkit-scrollbar-thumb {
    background: rgb(187, 187, 187);
  }
  &::-webkit-scrollbar-corner {
    background: #fff;
  }
  @media print {
    &::-webkit-scrollbar-thumb {
      background: transparent;
    }
  }
}
