@import 'variables';

@mixin is-input-active {
  border-color: $is-control-boder-focus-color;
  box-shadow: 0px 0px 0px 1px $is-control-boder-focus-color;
  //border-width: 2px;
}

@mixin is-input-disabled {
  background-color: $is-control-disabled-bg-color;
  color: $is-control-disabled-fg-color;
}

@mixin is-input {
  border-color:$is-control-boder-color;
  background-color: $is-control-bg-color;
  color: $is-control-fg-color;
  padding: 8px;
  font-size: 13px;

  &::placeholder {
    color: $is-control-placeholder-color;
  }
  &:hover {
    border-color: $is-control-boder-hover-color;
  }

  &:active, &:focus {
    background-color: $is-control-bg-color;
    color: $is-control-fg-color;
    @include is-input-active;
  }
}

@mixin is-input-invalid {
  border-color: $is-control-invalid-border-color;
  color: $is-control-invalid-fg-color;
}

@mixin short-scroll {
  &::-webkit-scrollbar {
    height: 8px;
    width: 8px; //background: #fff;
  }
  &::-webkit-scrollbar-thumb {
    background: rgb(187, 187, 187);
  }
  &::-webkit-scrollbar-corner {
    background: #fff;
  }
  @media print {
    &::-webkit-scrollbar-thumb {
      background: transparent;
    }
  }
}
