$is-general-text-default-color: var(--is-general-text-default-color, #333);
$is-general-border-radius: var(--is-general-border-radius, 4px);
$is-general-padding: var(--is-general-padding, 16px);
$is-general-padding-small: var(--is-general-padding-small, 8px);

$is-control-handle-color: var(--is-control-handle-color, #000);
$is-control-boder-color: var(--is-control-border-color, #000);
$is-control-boder-focus-color: var(--is-control-border-focus-color, #000);
$is-control-boder-hover-color: var(--is-control-border-hover-color, #000);
$is-control-bg-color: var(--is-control-bg-color, #fff);
$is-control-fg-color: var(--is-control-fg-color, #333);
$is-control-placeholder-color: var(--is-control-placeholder-color, #333);

$is-control-invalid-fg-color: var(--is-control-invalid-fg-color);
$is-control-invalid-border-color: var(--is-control-invalid-border-color);

$is-control-selected-item-color: var(--is-control-selected-item-color, grey);
$is-control-active-item-color: var(--is-control-active-item-bg-color, #428bca);
$is-control-disabled-bg-color: var(--is-control-disabled-bg-color, #efefef);
$is-control-disabled-fg-color: var(--is-control-disabled-fg-color, #333);

$is-select-search-bg-color: var(--is-select-search-bg-color, #efefef);
$is-select-item-desc-fg-color: var(--is-select-item-desc-fg-color, #333);

$is-search-bg-color: var(--is-search-bg-color, #EDEEEF);
$is-search-fg-color: var(--is-search-fg-color, #777E85);
$is-search-icon-color: var(--is-search-icon-color, #2B3642);

$is-portlet-border-color: var(--is-portlet-border-color, #ccc);
$is-portlet-header-fg-color: var(--is-portlet-header-fg-color);
$is-portlet-header-bg-color: var(--is-portlet-header-bg-color);
$is-portlet-border-radius: var(--is-portlet-border-radius, 4px);
$is-section-header-fg-color: var(--is-section-header-fg-color);
$is-section-header-bg-color: var(--is-section-header-bg-color);

$is-tabset-border-color: var(--is-tabset-border-color, #ccc);
$is-tabset-nav-bg-color: var(--is-tabset-nav-bg-color, transparent);
$is-tabset-item-fg-color: var(--is-tabset-item-fg-color, rgb(2, 2, 2));
$is-tabset-item-hover-border-color: var(--is-tabset-item-hover-border-color, #ccc);
$is-tabset-item-hover-fg-color: var(--is-tabset-item-hover-fg-color, #ccc);
$is-tabset-item-active-border-color: var(--is-tabset-item-active-border-color, #333);

$is-datepicker-fg-color: var(--is-datepicker-fg-color, #000);
$is-datepicker-bg-color: var(--is-datepicker-bg-color, #fff);
$is-datepicker-inline-body-bg-color: var(--is-datepicker-inline-body-bg-color, #fafafa);
$is-datepicker-hover-bg-color: var(--is-datepicker-hover-bg-color, #ccc);
$is-datepicker-border-color: var(--is-datepicker-border-color, #ccc);
$is-datepicker-border-radius: var(--is-datepicker-border-radius, 4px);
$is-datepicker-day-fg-color: var(--is-datepicker-day-fg-color, #333);
$is-datepicker-day-active-fg-color: var(--is-datepicker-day-active-fg-color, #fff);
$is-datepicker-day-active-bg-color: var(--is-datepicker-day-active-bg-color, #000);
$is-datepicker-day-today-fg-color: var(--is-datepicker-day-today-fg-color, #333);
$is-datepicker-day-outside-fg-color: var(--is-datepicker-day-outside-fg-color, #ccc);

$is-timepicker-fg-color: var(--is-timepicker-fg-color, #333);
$is-timepicker-hover-fg-color: var(--is-timepicker-hover-fg-color, #000);
$is-timepicker-bg-color: var(--is-timepicker-bg-color, #ccc);

$is-switch-border: var(--is-switch-border, $is-control-fg-color);
$is-switch-backdrop: var(--is-switch-backdrop, #fff);
$is-switch-checked: var(--is-switch-checked, $is-control-fg-color);
$is-switch-disabled: var(--is-switch-disabled, $is-control-disabled-fg-color);

$is-movable-modal-zindex: var(--is-movable-modal-zindex, 1055);
$is-movable-modal-header-fg-color: var(--is-movable-modal-header-fg-color, #000);
$is-movable-modal-border-color: var(--is-movable-modal-border-color, #ccc);
$is-movable-modal-box-shadow-dragging-color: var(--is-movable-modal-box-shadow-dragging-color, #666);
