$color-handle: var(--is-control-handle-color, #000);
$color-border: var(--is-control-border-color, #000);
$color-border-focus: var(--is-control-border-focus-color, #000);
$color-border-hover: var(--is-control-border-hover-color, #000);
$color-bg: var(--is-control-bg-color, #fff);
$color-fg: var(--is-control-fg-color, #fff);
$color-invalid: var(--is-control-invalid-color, red);
$color-selected-item-bg: var(--is-control-selected-item-bg-color, grey);
$color-active-item-bg: var(--is-control-active-item-bg-color, #428bca);
