<div class="row">
  <div class="col-sm-12">
    <h2>Usage</h2>
    <div [innerHTML]="usage"></div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <h3>Time Picker</h3>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <is-timepicker [allowClear]="true" [formControl]="timepickerControl"></is-timepicker>
    <span>selected value: {{timepickerControl.value}}</span>
  </div>
  <div class="col-sm-6">
      <is-timepicker [formControl]="timepickerControl1" [stringMode]="true"></is-timepicker>
      <span>selected value when stringMode is ON: {{timepickerControl1.value}}</span>
      <button class="btn btn-default" (click)="setValue()">Set 02:00:00</button>
    </div>
</div>
